<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.example.trip_maker_server.mapper.UserMapper"> 

	<select id="selectUserByEmail" resultType="com.example.trip_maker_server.domain.User">
        SELECT 
            USER_ID, EMAIL, PASSWORD, NICKNAME, 
            PROFILE_IMAGE_URL, REG_DATE, UPDATE_DATE
        FROM 
            T_USER_INFO
        WHERE 
            EMAIL = #{email}
    </select>

    <select id="selectCountByNickname" resultType="int">
        SELECT COUNT(1) 
        FROM T_USER_INFO 
        WHERE NICKNAME = #{nickname}
    </select>

    <insert id="insertUser" parameterType="com.example.trip_maker_server.domain.User" 
            useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO T_USER_INFO (
            EMAIL, PASSWORD, NICKNAME, REG_DATE, UPDATE_DATE
        ) VALUES (
            #{email}, #{password}, #{nickname}, NOW(), NOW()
        )
    </insert>

</mapper>